body {
    background-color:#cc0000;
    
    margin: 0px!important;
    position:relative;
}

.cartProductBox {
    display:flex;
    gap:20;
    justify-content: space-between;
     
}

#storeProductList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.nav {
     height:12vh;
     background-color: #cc0000;
}

.content {
    max-height: 72vh;
    height:72vh;
    overflow-y: scroll;
    padding-top: 2em;
    
    background-color: white;
}

footer {
    background-color:#cc0000;
    }

h2 {margin:0}
.products .container { 
    max-width:1140px;
    margin: 0 auto;
}

#productCategorySelection {
    background-color:#cc0000;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:12vh;
    max-width:1140px;
    margin: 0 auto; 
    color:white;
    font-weight:bold;

}

.category-box{ display:flex;
flex-basis: 14%;}

.categoryBox {
    background-color: black;
    border-radius: 40px;
    padding: 5px 15px;
    min-width: 130px;
    text-align: center;
}

.categoryBox.active {
    background-color: #FFD700; /* or any other color to indicate active state */
    color: black; /* Text color for better contrast */
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1), visibility 0.3s;
}

#overlay.active {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
}
.blankPanel{
    display:flex;width:100%; height:100%
}

#cartPanel { 
    position:fixed;
    background-color:white;
    border:2px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding:2em;
    width:420px;
    height:100%;
    margin-left: auto;
    box-sizing: border-box;
    right:-420px;
    transition: right 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    transition-delay: 0.5s;

}

#cartPanel.active {
    right:0!important;
}
    

    .cartItem {display: flex;
    gap: 20px;
border-top:1px solid #f5f5f5;
padding:10px; }

.cartProductdDetails {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    gap:30px;
}

.producTitle {
    flex-basis:20%; 
}

#cartIcon img, #closeCartIcon img, .logo img{max-width:100% }

#cartIcon, #closeCartIcon, .logo {
    max-width:50px;
    width:50px;
}
.nav {
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}